@charset "ISO-8859-1";

/* Variables */
:root {
	--gray: #626262;
  	--dark-gray: #575756;
  	--dark-white: #ebebeb;
  	--coral: #ff7f50;
  	--green: #4f763f;
  	--red: #bc4143;
}

/* General & Utilities */
a {
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

.gp-badge {
	font-size: 0.8rem;
	font-weight: 600;
	color: var(--dark-gray);
	background-color: var(--dark-white);
	padding: 3px 14px;
	border-radius: 10px;
	width: fit-content;
	white-space: nowrap;
}

.gp-badge-green {
	color: white;
	background-color: var(--green);
}

.gp-badge-red {
	color: white;
	background-color: var(--red);
}

.gp-btn {
	font-size: 0.8rem;
	font-weight: 600;
	color: white;
	background-color: var(--dark-gray);
	transition: all 0.3s !important;
}

.gp-btn-red {
	background-color: var(--red);
}

.gp-btn:hover {
	color: white;
	background-color: var(--coral);
}

.text-coral {
	color: var(--coral);
}

.text-dark-gray {
	color: var(--dark-gray);
}

/* Header */
header {
	position: fixed;
  	top: 0;
  	left: 0;
  	right: 0;
  	z-index: 999;
  	height: 70px;
  	background-color: var(--dark-white);
  	box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15);
}

.left {
	height: 100%
}

.left .logo {
	max-width: 50px;
}

.left .logo-txt {
	color: var(--dark-gray)
}

.left .logo-txt span {
	color: var(--coral);
}

.right .account {
	color: var(--dark-gray);
	transition: all 0.3s;
}

.right .account:hover {
	color: var(--coral);
}

/* Main */
.main-wrapper {
  	height: calc(100vh - 70px);
  	width: 100%;
  	background-color: var(--dark-white);
  	margin-top: 70px;
}

/* aside */
aside {
	height: 100%;
 	min-width: 250px;
  	background-color: var(--dark-gray);
}

aside li a {
      height: 100%;
      width: 100%;
      color: white;
      font-size: 1rem;
      border-left: 5px solid transparent;
      padding: 15px;
      transition: all 0.3s;
      display: flex;
      align-items: center;
}

aside li a:hover {
	  border-left: 5px solid var(--coral);
      background-color: var(--gray);
}

.active-route {
	  border-left: 5px solid var(--coral);
      background-color: var(--gray);
}

/* right-window */
.search-photo {
	width: 100%;
	max-width: 350px;
}

.search-photo input:focus {
	outline: none !important;
	border-color: var(--coral) !important;
}

.photo-img {
	position: relative;
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    overflow: hidden;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.photo-img:hover img {
	transform: scale(1.1);
}

.photo-img img {
  	width: 100%;
  	height: 100%;
  	object-fit: cover;
  	transition: all 0.3s;
}

.photo-overlay {
    position: absolute;
    top: 0;
    left: -100%; /* Posizione iniziale fuori dalla vista */
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Colore di sfondo e trasparenza */
    transition: all 0.3s; /* Aggiungi una transizione all'attributo 'left' */
}

.photo-img:hover .photo-overlay {
    left: 0; /* Mostra l'overlay spostandolo a sinistra (0%) al passaggio del mouse */
}

.photo-overlay-btns {
	position: absolute;
	right: 48px;
	bottom: 48px;
}

.photo-title {
	color: var(--coral);
}

/* Media Query : lg */
@media screen and (max-width: 992px) {
  aside {
	 min-width: auto;
  }
}



