<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
	<meta charset="ISO-8859-1">
	
	<!-- Bootstrap CSS & JS -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
	<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
	
	<!-- Fontawesome -->
	<link rel="stylesheet" th:href="@{/webjars/font-awesome/6.4.0/css/all.min.css}">
	
	<link rel="stylesheet" th:href="@{/css/style.css}" >
	<link rel="icon" type="image/png" th:href="@{/imgs/pizza-logo.png}">
	
	<title>FotoAlbum - Dashboard</title>
</head>

<header th:fragment="header">
	<div class="d-flex justify-content-between align-items-center px-4 h-100">
	
		<div class="left d-flex align-items-center">
			<img alt="Logo" th:src="@{/imgs/logo-11.png}" class="logo me-1">
			<h4 class="logo-txt mb-0 fw-bold">Foto<span>Album</span></h4>
		</div>
		
		<div class="right">
		
			<div sec:authorize="hasAnyAuthority('user', 'admin')" class="d-flex align-items-center" title="Account">
				<a href="/photos" class="account d-flex align-items-center fw-semibold">
					<i class="fa-solid fa-circle-user me-2 fs-4"></i>
					<span sec:authentication="name" class="me-4"></span>
				</a>
				
				<a href="/logout" class="btn gp-btn d-flex align-items-center" title="Logout">
		            <i class="fa-solid fa-right-from-bracket fs-6"></i>
		            <span class="ms-2 d-none d-md-block">Logout</span>
		         </a>
			</div>
			
<!-- 			<div sec:authorize="!hasAnyAuthority('user', 'admin')"> -->
<!-- 				<a href="/login" class="btn gp-btn d-flex align-items-center" title="Login"> -->
<!-- 		            <i class="fa-solid fa-circle-user fs-6"></i> -->
<!-- 		            <span class="ms-2 d-none d-md-block">Login</span> -->
<!-- 		         </a> -->
<!-- 			</div> -->
			
		</div>
		
	</div>
</header>

<aside th:fragment="aside">
	<ul class="list-unstyled">
      <li>
        <a href="/photos" class="fw-semibold" th:classappend="${servletPath.startsWith('/photos') ? 'active-route' : ''}">
          <i class="fa-solid fa-images me-2"></i>
          <span class="aside-link-text d-none d-lg-block">Photos</span>
        </a>
      </li>
      <li>
        <a href="/categories" class="fw-semibold" th:classappend="${servletPath.startsWith('/categories') ? 'active-route' : ''}">
          <i class="fa-solid fa-folder-tree me-2"></i>
          <span class="aside-link-text d-none d-lg-block">Categories</span>
        </a>
      </li>
      <li>
        <a href="/messages" class="fw-semibold" th:classappend="${servletPath.startsWith('/messages') ? 'active-route' : ''}">
          <i class="fa-solid fa-envelope me-2"></i>
          <span class="aside-link-text d-none d-lg-block">Messages</span>
        </a>
      </li>
    </ul>
</aside>

<footer th:fragment="footer">
	
</footer>

</html>